**/*
!.gitignore
!.idea/
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/compiler.xml
!.idea/dictionaries/
!.idea/dictionaries/project.xml
!.idea/encodings.xml
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/Project_Default.xml
!.idea/kotlinc.xml
!.idea/libraries/
!.idea/libraries/KotlinJavaRuntime.xml
!.idea/markdown.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/scopes/
!.idea/scopes/Markdown.xml
!.idea/tubular_time.iml
!.markdownlint.json
!.npmignore
!.vscode/
!.vscode/settings.json
!*.md
!*.js
!*.mjs
!*.ts
!img/
!img/**/**
!package-lock.json
!package.json
!src/
!src/**/*
!test.html
!tsconfig.*
